export AWS_DEFAULT_PROFILE="your-aws-profile-name"

ssm_values="$(
  aws --profile "$AWS_DEFAULT_PROFILE" ssm get-parameters \
    --names \
      "/infra/sgfdevs/infra-gh/TF_VAR_github_app_pem" \
    --with-decryption --output json --no-cli-pager |
    jq '.Parameters | map({key: (.Name | split("/") | last), value: .Value}) | from_entries'
)"

export TF_VAR_github_app_pem="$(jq -r '.TF_VAR_github_app_pem' <<< "$ssm_values")"

unset ssm_values
